Package: com.be-huge.insulation
Name: 温控120hz
Version: 0.0.3
Architecture: iphoneos-arm
Description: 解除温控，一切从简即可。代码已开源：https://github.com/be-huge/insulation
Maintainer: be-huge
Author: be-huge
Section: Tweaks
Depends: dev.theos.orion (>= 1.0.0), firmware (>= 12.2)
